
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="row">
    <div class="col-md-5 col-5">
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <h2 class="breadcrumb-title">Change Password</h2>

                </div>
            </div>
        </div>
    </div>
</div>
       
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-lg-6">

                        @if (ViewBag.IsError != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="padding-right:0 !important" id="LinkCopy">
                                @ViewBag.IsError
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        }
                        @if (ViewBag.IsSuccess != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert" style="padding-right:0 !important" id="LinkCopy">
                                @ViewBag.IsSuccess
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        }
                        <form action="@Url.Action("ChangePassword","Dashboard")" method="post">
                            <div class="form-group">
                                <label>Old Password</label>
                                <input type="password" class="form-control" id="oldPassword" name="oldPassword">
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword">
                            </div>
                            <span id='message'></span>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                            </div>
                            <div class="submit-section">
                                <button type="submit" class="btn btn-primary submit-btn" id="Register">Save Changes</button>
                            </div>
                        </form>
                        <!-- /Change Password Form -->

                    </div>
                </div>
            </div>
        </div>
    
    @*<div class="row">
        <div class="col-md-5 col-5">
            <div class="breadcrumb-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">

                        <h2 class="breadcrumb-title">Change Password</h2>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-body">
                    <div class="protfolio-system-right">

                        <div class="gender&input-aria">
                            <div class="row">
                                @if (ViewBag.IsError != null)
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="padding-right:0 !important" id="LinkCopy">
                                        @ViewBag.IsError
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                }
                                <form action="@Url.Action("ChangePassword","Dashboard")" method="post">

                                    <div class=" d-flex input-item flex-wrap">
                                        <label for="pwd" class="form-label input-left-item">Current Password</label>
                                        <input class="form-control input-right-item trnform" type="password" id="oldPassword" name="oldPassword"
                                               placeholder="Enter Current Password">
                                    </div>

                                    <div class=" d-flex input-item flex-wrap">
                                        <label for="pwd" class="form-label input-left-item">New Password</label>
                                        <input class="form-control input-right-item trnform" type="password" id="newPassword" name="newPassword"
                                               placeholder="Enter New Password">
                                    </div>


                                    <div class=" d-flex input-item flex-wrap">
                                        <label for="pwd" class="form-label input-left-item">Confirm Password</label>
                                        <input class="form-control input-right-item trnform" type="password" id="confirm_password" name="confirm_password"
                                               placeholder="Confirm Password">
                                        <span id='message'></span>
                                    </div>

                                    <div class=" d-flex input-item flex-wrap">
                                        <label for="pwd" class="form-label input-left-item"></label>
                                        <button class="update-btn input-right-item trnform" type="submit" id="Register">
                                            update
                                            now
                                        </button>
                                    </div>
                                </form>


                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>*@
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">

        $('#newPassword, #confirm_password').on('keyup', function () {
            if ($('#newPassword').val() == $('#confirm_password').val()) {
                $('#message').html('Matching').css('color', 'white');
                document.getElementById("Register").disabled = false;
            } else {
                $('#message').html('Not Matching').css('color', 'red');
                document.getElementById("Register").disabled = true;
            }
        });
    </script>
    <script>

        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $('#password').addClass('active');

        });
    </script>
