@using Olaglasses.Models;
@{
    List<tblCoupon> coupons = (List<tblCoupon>)ViewBag.couponsList;
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}



<div class="row">
    <div class="col-md-5 col-5">
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">

                    <h2 class="breadcrumb-title">Coupons</h2>


                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-4"></div>
    <div class="col-md-3 col-3 ">

        <a href="@Url.Action("Create","Coupons")" class="btn btn-secondary float-right" style="background-color:var(--Secondery-color); color:white ;float: right;"><i class="fa fa-plus"></i> Add New Coupon</a>

    </div>
</div>
<div class="row">
    <div class="col-sm-12">

        <div class="card">
            <div class="card-body">
                @if (ViewBag.message != null && ViewBag.message != "")
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="padding-right:0 !important" id="LinkCopy">
                        @ViewBag.message
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0" id="GlassesList">
                        <thead>
                            <tr>

                                <th>Coupon</th>

                                <th>Discount</th>
                                <th>Text</th>
                                <th>Description</th>

                                <th>Link</th>
                                <th>Color</th>
                                <th>Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in coupons)
                            {
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="javascript:void(0);">@item.CouponCode</a>
                                    </h2>
                                </td>


                                <td>@item.Discount</td>
                                <td>@item.Text</td>
                                <td>@item.Description</td>
                                <td>@item.CouponLink</td>
                                <td>@item.CouponColor</td>

                                <td>
                                    @if (@item.CouponStatus == "Active")
                                    {<span class="badge badge-pill bg-primary inv-badge">@item.CouponStatus</span>}
                                    @if (@item.CouponStatus == "InActive")
                                    {<span class="badge badge-pill bg-warning inv-badge">@item.CouponStatus</span>}

                                </td>

                                <td class="text-right">
                                    <div class="table-action">



                                        <a href="@Url.Action("Create","Coupons", new { id=@item.CouponID})" class="btn btn-sm bg-success-light">
                                            <i class="fas fa-pen"></i> Edit
                                        </a>
                                        <a href="javascript:void(0)" onclick="DeleteData(@item.CouponID)" class="btn btn-sm bg-danger-light">
                                            <i class="fas fa-trash"></i> Delete
                                        </a>
                                    </div>
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Dashboardassets/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Dashboardassets/assets/plugins/datatables/datatables.min.js"></script>
<script>
    function DeleteData(ID) {

        var myModal = $('#delete_post_coupon');
        $("#id", myModal).val(ID);
        $("#delete_post_coupon").modal('show');
    }
    $(document).ready(function () {
        $('#GlassesList').DataTable({
            searching: true,
            "ordering": false
        });
    });
</script>
<script>

    $(document).ready(function () {
        $(".nav li").removeClass("active");
        $('#coupon').addClass('active');

    });
</script>

